html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    margin: 0 1rem;
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }

    .card {
        width: 100%;
        margin: 2rem 0;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
}

@media (min-width: 601px) and (max-width: 1100px) {
    h1 {
        text-align: center;
    }

    .card {
        width: 100%;
        margin-left: 1rem;
    }

    .card-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1rem;
    }
}